body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

main {
    grid-column: span 3;
    gap: 10px;
    height: 95.5vh;
    position:relative;
}

aside {
    grid-column: span 1;
}

.content {
    background-color: #f0f0f0;
    padding: 10px;
}
.button{
    background-color: #c5c5c5;
    text-align: center;
    padding: 30px;
    margin-top: 10px;
    font-size: larger;
    transition: 0.3s;
}
.button:hover{
  background-color: #aaaaaa;
}
.title{
  background-color: #c5c5c5;
  text-align: center;
  font-size: larger;
  padding: 10px;
}
.textbox{
  background-color: #c5c5c5;
  position:absolute;
  bottom:10px;
  right:10px;
  left:10px;
  text-align: center;
}
.texttitle{
  background-color: #aaaaaa;
  padding:15px;
}
.box{
  min-height: 150px;
  max-height: 150px;
}
.box p{
  font-size: larger;
  padding:50px;
  margin:0;
}
.screen{
  height: 75%;
  background-color: #dadada;
  display:flex;
  justify-content: center;
  align-items: center;

}
.long{
  height: 95% !important;
}
.hidden{
  display:none;
}

.jardin{
  background-image:url("../assets/bgs/jardin.jpg");
  background-size: 100% 100%;
}
.mostrador{
  background-image:url("../assets/bgs/shop.jpg");
  background-size: 100% 100%;
}
.trastienda{
  background-image:url("../assets/bgs/trastienda.jpg");
  background-size: 100% 100%;
}
.client{
  width: 70px;
  height: 100px;
  margin:0;
  background-color: aqua;
}
.alert{
  animation: alert 500ms infinite;
}
.pulsing{
  animation: pulsing 1s infinite;
}

@keyframes alert {
  0% { background: #aaaaaa; }
  25% { background: #b1b1b1; }
  50% { background: #aaaaaa; }
  75% { background: #b1b1b1; }
  100% { background: #aaaaaa; }
}

@keyframes pulsing{
  0% { opacity: 100%; }
  25% { opacity: 50%; }
  50% { opacity: 100%; }
  75% { opacity: 50%; }
  100% { opacity: 100%; }
}